* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 20rem;
  margin: 0 auto;
  font-size: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1;
}

img {
  width: 100%;
}